.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weathers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50em;
}

.page-header {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.page-header-down {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20em;
}

/*Details Page*/
.details-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.details-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todays-weather {
  width: fit-content;
}

.upcoming-days {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}
